.Pernalonga{
    width: 50%;
}
body{
    background-color: rgb(255, 255, 255);
}
.h1{
    text-align: center;
}
.foto{
    text-align: center;
}
.logo{
    width: 70%;
}.logo{
    text-align: center;
}
.sla{
    text-align: center;
}