.Pernalonga{
    width: 50%;
}
body{
    background-color: rgb(255, 255, 255);
}
.h1{
    text-align: center;
}
.foto{
    text-align: center;
}
.logo{
    width: 50%;
}.logo{
    text-align: center;
}
.sla{
    text-align: center;
}
.sobre{
 text-align: center;

}

.header{
    background-color: rgb(255, 255, 255);
}
.texto1{
    width: 110%;
}

.li{
    text-align: center;
    display: inline-block;
    margin: 0 16px;
}

*{
    margin: 0;
    padding: 0;
}
.nsei{
    text-align: center;
}